---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

import Menu from "../components/Header";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || "Mi Sitio Web"}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
